p, h3{
    color: red;
}

h2{
    height: 100px;
    width: 50%;
    background-color: lightblue;
}

h1 { 
    background-image: url("./fondo.jpg"); 
    color: yellow;
}

p{
    border-width: 7px;
    border-style: dotted;
}

h3{
    padding: 30px;
    margin: 1em 35%
}