p{
    color:red;
    border-style: dotted;
    border-width: 7px;
}


h3{
    color:red;
    margin:auto;
    text-align: center;
    padding:30px;
}

h2{
    background-color:cornflowerblue;
    height: 100px;
    width: 50%;
}

h1{
    color:yellow;
    background-image:url(https://c.stocksy.com/a/FX5400/z9/974593.jpg) ;
}