body{
    border: 25px;
    border-style: dotted;
}
h1{
    color: yellow;
    background-image: url(../img/imagen.jpg);
    height: 500px;
    background-repeat: no-repeat ;
}
h2{
    background-color: aquamarine;
    height: 100px;
    width: 50%;
    color: red;
}
h3{
    padding: 30px;
    color: red;
}